/* DEBUG */
/* [class^="container"] {
  border: 1px dashed black;
  background-color: lightblue;
  min-height: 80vh;
} */

/* [class^="row"] {
  border: 1px dashed red;
} */

/* [class^="col"] {
  min-height: 100px;
  background-color: #f1d2e7;
  border: 1px solid #d0a8eb;
} */

/* altro */
/* header .nav-link {
  color: blue;
} */

/* section */
/* section {
  margin-bottom: 50px;
} */

/* #section-due .card .btn:hover {
  background-color: #d0a8eb;
}

.ms-btn-red {
  background-color: red;
} */

/* Navbar */
.cs-grey {
  color: grey;
}

.navbar a.cs-grey:hover {
  color: white;
}
